* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 1600px;
    margin: auto;
}

/* header */
.banner {
    font-family: 'Merriweather', serif;
    margin: 0px auto;
    width: 1300px;
    height: 600px;
    background-image: linear-gradient(rgb(0, 0, 0, .5), rgb(0, 0, 0, .1)) , url('./resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 120px ;
    border-radius: 16px;
}

.banner h1 {
    text-align: center;
    width: 630px;
    font-size: 72px;
    color: white;
    font-weight: 900;
}

.banner h2 {
    width: 630px;
    text-align: center;
    color: white;
    font-size: 32;
}

/* main */

/* offer section */

.offer {
    width: 810px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    text-align: center;
}

.offer h2 {
    color: red;
    font-size: 88px;
    font-weight: 700;
}

.offer p {
    font-size: 24px;
    font-weight: 500;
    color: red;
}

.offer h3 {
    font-size: 48px;
    font-weight: 700;
}

/* .second banner */

.secondBanner {
    border-radius: 16px;
    margin: auto;
    margin-top: 120px;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('./resources/Group\ 70.png'), url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center, calc(100% - 150px) center, center;
    padding-left: 120px;
    padding-top: 120px;
    margin-bottom: 120px;
    color: white;
}

.secondBanner h2 {
    font-size: 64px;
    width: 640px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.secondBanner p {
    width: 700px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, .7 );
}

.joinNow {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: #ffffff00;
    color: white;
    margin-left: 30px ;
}