* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 1600px;
    margin: auto;
}

/* header */
.banner {
    margin: 0px auto;
    width: 1300px;
    height: 600px;
    background-image: linear-gradient(rgb(0, 0, 0, .5), rgb(0, 0, 0, .1)) , url('./resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 120px ;
    border-radius: 16px;
}

.banner h1 {
    text-align: center;
    width: 630px;
    font-size: 72px;
    color: white;
}

.banner h2 {
    width: 630px;
    text-align: center;
    color: white;
    font-size: 32;
}

/* main */

/* offer section */

.offer {
    width: 810px;
    font-family: 'Inter', sans-serif;
    margin: auto;
    text-align: center;
}

.offer h2 {
    color: red;
    font-size: 88px;
    font-weight: 700;
}

.offer p {
    font-size: 24px;
    font-weight: 500;
    color: red;
}

.offer h3 {
    font-size: 48px;
    font-weight: 700;
}