* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 1600px;
  margin: auto;
}

/* header */
.banner {
  font-family: "Merriweather", serif;
  margin: 0px auto;
  width: 1300px;
  height: 600px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.1)),
    url("./resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 120px;
  border-radius: 16px;
}

.banner h1 {
  text-align: center;
  width: 630px;
  font-size: 72px;
  color: white;
  font-weight: 900;
}

.banner h2 {
  width: 630px;
  text-align: center;
  color: white;
  font-size: 32;
}

/* main */

/* offer section */

.offer {
  width: 810px;
  font-family: "Inter", sans-serif;
  margin: auto;
  text-align: center;
}

.discount {
  color: red;
  font-size: 88px;
  font-weight: 700;
}

.offer p {
  font-size: 24px;
  font-weight: 500;
  color: red;
}

.offer h3 {
  font-size: 48px;
  font-weight: 700;
}

/* .second banner */

.secondBanner {
  border-radius: 16px;
  margin: auto;
  margin-top: 120px;
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("./resources/Group\ 70.png"), url("./resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center, calc(100% - 150px) center, center;
  padding-left: 120px;
  padding-top: 120px;
  margin-bottom: 120px;
  color: white;
}

.secondBanner h2 {
  font-size: 64px;
  width: 640px;
  font-weight: 900;
  font-family: "Merriweather", serif;
}

.secondBanner p {
  width: 700px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
}

.joinNow {
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #ffffff00;
  color: white;
  margin-left: 30px;
}

/* venue */

.venue {
  border-radius: 16px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.1), white);
  margin: auto;
  width: 1320px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.venue li {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 700;
  list-style-type: none;
  text-align: center;
  line-height: 50px;
}

.field {
  color: red;
}

.venue ul {
  margin-bottom: 50px;
}

.venue button {
  color: white;
  background-color: red;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
}

/* coming soon  */
.comingSoon {
  margin: auto;
  width: 1320px;
  height: 465px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.leftWrapper {
  width: 393px;
}

.leftWrapper h3 {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: red;
  margin-bottom: 16px;
}

.leftWrapper h2 {
  margin-bottom: 20 px;
  font-size: 48px;
  font-weight: 900;
  color: black;
  font-family: "Merriweather", serif;
}

.leftWrapper p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.people {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 30px;
}

.rightWrapper {
  width: 275px;
}

.rightWrapper h2 {
  font-family: "Inter", sans-serif;
  color: red;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}

.rightWrapper p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

/* holiday sale */

.holidaySale {
  margin: auto;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 1320px;
  height: 1000px;
}

.holidayOffer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holidayOffer h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.holidayOffer h2 {
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  align-items: center;
  color: black;
}

.red {
  color: red;
}

.holidayOffer p {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  width: 1000px;
}

.images {
  margin-top: 60px;
  width: 100%;
  height: 660px;
  background-image: url("./resources/Group\ 75.png"),
    url("./resources/Group\ 44.png"), url("./resources/Rectangle\ 1.png"),
    url("./resources/Rectangle\ 2.png");
  background-position: left bottom, calc(100% - 285px) calc(100% - 280px),
    right calc(100% - 229px), center bottom;
  background-repeat: no-repeat;
}

/* portfolio */

.portfolio {
  margin: auto;
  margin-bottom: 120px;
  width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h3 {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.content h2 {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

.content p {
  width: 890px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 50px;
}

.itemImages {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.row1,
.row2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.item1 {
  background-image: url("./resources/Rectangle\ 3.png");
}
.item2 {
  background-image: url("./resources/Rectangle\ 4.png");
}
.item3 {
  background-image: url("./resources/Rectangle\ 5.png");
}
.item4 {
  background-image: url("./resources/Rectangle\ 6.png");
}
.item5 {
  background-image: url("./resources/Rectangle\ 7.png");
}
.item6 {
  background-image: url("./resources/Rectangle\ 8.png");
}

.item1:hover {
  background-image: url("./resources/eye.png"),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("./resources/Rectangle\ 3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.item2:hover {
  background-image: url("./resources/eye.png"),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("./resources/Rectangle\ 4.png");
  background-position: center;
  background-repeat: no-repeat;
}

.item3:hover {
  background-image: url("./resources/eye.png"),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("./resources/Rectangle\ 5.png");
  background-position: center;
  background-repeat: no-repeat;
}

.item4:hover {
  background-image: url("./resources/eye.png"),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("./resources/Rectangle\ 6.png");
  background-position: center;
  background-repeat: no-repeat;
}

.item5:hover {
  background-image: url("./resources/eye.png"),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("./resources/Rectangle\ 7.png");
  background-position: center;
  background-repeat: no-repeat;
}

.item6:hover {
  background-image: url("./resources/eye.png"),
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("./resources/Rectangle\ 8.png");
  background-position: center;
  background-repeat: no-repeat;
}

.items {
  height: 445px;
  width: 424px;
}

/* newsletter */

.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin: auto;
  margin-bottom: 120px;
  height: 620px;
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter {
  height: 150px;
  width: 150px;
  margin: 80px auto 40px;
}

.newsletter h2 {
  font-family: "Merriweather", serif;
  color: black;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
}

.newsletter p {
  width: 900px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 50px;
}

.newsletter form {
  width: 650px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter input {
  height: 100%;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

.subscribe {
  width: 200px;
  border-radius: 0px 50px 50px 0px;
  color: white;
  background-color: red;
}
.email {
  border-radius: 50px 0px 0px 50px;
  width: 500px;
  padding: 25px 30px;
  color: rgba(0, 0, 0, 0.8);
}

/* footer */

footer {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
  padding: 120px;
  width: 1600px;
  height: 609px;
  display: flex;
  justify-content: space-between;
}

.addressAndCopy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 30px;
  margin-top: 200px;
}

.others {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer li {
  list-style-type: none;
}

.address {
  width: 375px;
}

.unsubscribe {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 500;
  width: 150px;
  height: 30px;
  border: none;
  background-color: black;
  color: white;
}

.icon {
  margin-right: 10px;
}
